---
import config from '@config/config.json';
import HeartIcon from '@components/icons/HeartIcon.astro';
const year = new Date().getFullYear();
---

<footer class="mx-auto max-w-screen-lg px-4 sm:px-6 lg:px-8">
  <div class="mx-auto mt-4 w-full">
    <hr class="border-solid" />
  </div>
  <div>
    <p class="mb-8 mt-8 text-center text-sm/relaxed text-zinc-500 dark:text-zinc-400">
      &copy; {year}{' '}{config.site.title}
      <span class="mt-2 block">
        Made with
        <HeartIcon />
         in Tokyo, Japan by
        <a
          href="https://baldmanbrands.com"
          class="text-zinc-700 decoration-dashed transition hover:text-zinc-700/75 dark:text-zinc-200 dark:hover:text-zinc-200/75"
          >Bald Man Brands</a
        >
      </span>
    </p>
  </div>
</footer>
