---

---
<section class="max-w-screen-lg px-4 mx-auto pb-12 sm:px-6 lg:px-8">
  <div style="height: 50vh; border-radius: 25px;">
    <script is:inline src="https://cdn.jsdelivr.net/ghost/signup-form@~0.1/umd/signup-form.min.js" data-background-color="#18181B" data-text-color="#FFFFFF" data-button-color="#5046E4" data-button-text-color="#FFFFFF" data-title="Bald Man Japan" data-description="Get content delivered fresh to your inbox" data-icon="https://baldmanjapan.com/content/images/size/w192h192/size/w256h256/2023/10/bmjlogo.png" data-site="https://baldmanjapan.com/"></script>
  </div>
</section>
